<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gdgankara.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="org.gdgankara.app.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.TweetWallActivity"
            android:label="@string/title_activity_tweet_wall" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.TagListActivity"
            android:label="@string/title_activity_taglist" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SessionListActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SpeakerListActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.FavoriteListActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SessionPageActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SpeakerPageActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>
         <activity
            android:name="org.gdgankara.app.activities.MyMapActivity"
            android:label="@string/title_activity_my_map_activity" >
        </activity>
        <activity
            android:name="org.gdgankara.app.activities.SponsorListActivity"
            android:label="@string/title_activity_sessionlist" >
        </activity>

        <service
            android:name="org.gdgankara.app.services.ImageCacheService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".ImageCacheReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name=".ImageCacheService.CACHE_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>